{% extends "base.html.twig" %}
{% block title %}
	Mot de passe oublié ?
{% endblock %}

{% block body %}
	<h1>Mot de passe oublié</h1>
	{{ form_start(formView) }}
	{{ form_errors(formView) }}
	{{ form_widget(formView) }}
	<button type="submit" class="btn btn-success mt-2">Envoyer</button>
	{{ form_end(formView) }}
{% endblock %}
