{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "shared/_product_card.html.twig" with {
					'product': product
				} %}
			</div>
		{% endfor %}
	</div>

	<hr>
	<h2>un service irréprochable</h2>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium omnis deserunt amet, similique autem saepe.</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icon': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, accusantium!"
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icon': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ducimus."
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icon': 'fas fa-lock',
            'text': "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, sint?"
        } %}
	</div>
{% endblock %}
