<p>Cliquez sur le lien ci-dessous pour être redirigé vers la page de réinitialisation de mot de passe</p>

<a href="https://localhost:8000/security/resetPass/{{ user.id }}/{{ user.token }}">https://localhost:8000/security/resetPass/{{ user.id }}/{{ user.token }}</a>
